.footer {
  background-color: $background-color-primary;
  color: $color-secondary;
  padding: $padding-primary;
  height: 208px;
  @include flexbox-center;
  flex-direction: column;
  gap: 25px;
  @include tablet {
    gap: 35px;
  }
  @include desktop-only {
    justify-content: flex-end;
    padding-bottom: 25px;
    gap: 50px;
  }
  &__logo {
    width: 122px;
    height: 39px;
  }
  &__description {
    font-size: 0.8em;
    @include tablet {
      font-size: 1em;
    }
    @include desktop-only {
      font-size: 1.2em;
    }
  }
}
