.header {
  width: 100%;
  height: 47px;
  margin-top: 20px;
  padding: $padding-primary;
  display: flex;
  justify-content: space-between;
  @include tablet {
    height: 57px;
    margin-top: 30px;
  }
  @include desktop-only {
    height: 68px;
    margin-top: 40px;
    padding: $padding-secondary;
  }
  &__title {
    width: 50%;
  }
  &__logo {
    width: 145px;
    height: 100%;
    @include tablet {
      width: 170px;
    }
    @include desktop-only {
      width: 200px;
      height: 63px;
    }
  }
  &__navbar {
    width: 140px;
    @include tablet {
      width: 165px;
    }
    @include desktop-only {
      width: 220px;
    }
  }
  &__list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__links {
    color: $color-primary;
    font-weight: $font-primary;
    text-transform: uppercase;
    font-size: 0.8em;
    @include tablet {
      font-size: 1.1em;
      text-transform: none;
    }
    @include desktop-only {
      font-size: 1.4em;
    }
    &:hover {
      animation: header-line 400ms ease-in-out 200ms forwards;
    }
  }
}

@keyframes header-line {
  0% {
    text-decoration-line: none;
  }
  100% {
    text-decoration-line: underline;
  }
}
