.collapse {
  margin-bottom: 20px;
  @include tablet {
    margin-bottom: 25px;
  }
  @include desktop-only {
    margin-bottom: 30px;
    width: 82%;
  }
  &__button {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    color: $color-secondary;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    @include tablet {
      height: 38px;
      padding: 0 13px;
    }
    @include desktop-only {
      height: 47px;
      padding: 0 18px;
    }
  }
  &__symbol {
    width: 15px;
    height: 15px;
    transform: rotate(0);
    transition: transform 600ms ease-in-out 200ms;
    @include tablet {
      width: 19px;
      height: 19px;
    }
    @include desktop-only {
      width: 24px;
      height: 24px;
    }
    &--rotate {
      transform: rotate(180deg);
    }
  }
  &__description {
    overflow: hidden;
    transition: height 600ms ease-in-out 200ms;
  }
}
