.host {
  display: flex;
  align-items: center;
  gap: 10px;
  &__title {
    width: min-content;
    font-size: 0.75em;
    font-weight: $font-primary;
    color: $color-primary;
    text-align: right;
    @include tablet {
      font-size: 1em;
    }
    @include desktop-only {
      font-size: 1.1em;
    }
  }
  &__image {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    object-fit: cover;
    @include tablet {
      width: 3em;
      height: 3em;
      border-radius: 1.5em;
    }
    @include desktop-only {
      width: 4em;
      height: 4em;
      border-radius: 2em;
    }
  }
}
