.rating {
  &__icon {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    @include desktop-only {
      margin-right: 0;
      margin-left: 10px;
      width: 30px;
      height: 30px;
    }
  }
}
