.about {
  padding: $padding-primary;
  margin-top: 20px;
  @include desktop-only {
    margin-top: 30px;
    padding: $padding-secondary;
    @include flexbox-center;
    flex-wrap: wrap;
  }

  &__description {
    background-color: $background-color-secondary;
    padding: 20px 7px 50px 10px;
    border-radius: 5px;
    font-size: 0.75em;
    color: $color-primary;
    line-height: 17px;
    @include desktop-only {
      font-size: 1.5em;
      padding: 30px 20px 19px 18px;
      line-height: 34px;
    }
  }
}
