.container-card {
  margin-top: 20px;
  padding: $padding-general;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0 20px;
  @include desktop-only {
    gap: 50px;
    margin: 40px 5%;
    padding: 50px;
    background-color: $background-color-secondary;
    border-radius: 25px;
  }
}
