$color-primary: #ff6060;
$color-secondary: #ffffff;
$background-color-primary: #000000;
$background-color-secondary: #f6f6f6;

$font-primary: 500;

$padding-primary: 0 5% 0 5%;
$padding-secondary: 0 7% 0 7%;

$breakpoints: (
  tablet: 768px,
  desktop: 992px,
);
