$color-primary: #ff6060;
$color-secondary: #ffffff;
$background-color-primary: #000000;
$background-color-secondary: #f6f6f6;

$font-primary: 500;

$padding-general: 0 5% 0 5%;

$breakpoints: (
  desktop: 992px,
);
